<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<!-- 3 links below are for sortable and searchable tables -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">

<style>
    .row {
        flex-flow: wrap;
        align-items: center;
    }

    .big-number {
        font-size: xx-large;
    }

    .big-number-header {
        font-weight: normal;
    }

    .big-number-box {
        border: 1px solid lightgray;
        border-radius: .5rem;
        padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    }

    .box-variation {
        font-size: medium;
        border-radius: 9999px;
        margin-right: 10px;
    }

    .box-variation-positive {
        background-color: rgba(209, 250, 229, 1);
        color: rgba(6, 95, 70, 1);
    }

    .box-variation-negative {
        background-color: rgba(254, 226, 226, 1);
        color: rgba(153, 27, 27, 1)
    }

    .report-padding {
        padding: 1rem;
    }

    td,
    th {
        text-align: center;
    }

    .sub-menu-ul {
        padding: 1.5rem 0rem 1.5rem 1.5rem;
    }

    #pills-qtr-tab, #pills-yr-tab, #pills-md-tab, #pills-ecai-tab {
        color: #464646;
    }

    #pills-qtr-tab.active, #pills-yr-tab.active, #pills-md-tab.active, #pills-ecai-tab.active {
        background-color: #e5e5fc;
        color: #4845e5;
    }

    #pills-yr-tab.active {
        background-color: #e5e5fc;
        color: #4845e5;
    }

    .fixed-table-toolbar, .fixed-table-container {
        margin-left: 20px;
        margin-right: 20px;
    }
</style>